#footer {
    background: #0e0e0e;
    font-size: .75em;
    color: #999;
    margin-top: 20px;
}

#footer .inner-content {
    padding-top: 20px;
}

footer .inner-content p {
    float: left;
    font-size: 1.3em;
    color: #999;
}

footer .inner-content #footer-logo {
    width: 200px;
    height: 70px;
    margin: 0 15px 20px 0;
    float: left;
    display: block;
}

footer .inner-content a {
    color: #999;
}

#footlog
{
    width: 98%;
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}
